
p {
    font-family:cursive, Geneva, Tahoma, sans-serif;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 14px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 28px;
    border: ridge;
    border-width: .2em;
    border-radius: 100px;
    border-color: rgb(87, 60, 19);
}

.modified {
    display: block;
    margin: auto;
    border-style: inset;
    border-width: 4px;
    border-color: rgb(160, 152, 152);

}

h1 {
    font-family:cursive, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin-left: 700px;
    margin-right: 700px;
    text-align: center;
    border: ridge;
    border-width: 10px;
    border-radius: 100px;
    border-color: rgb(160, 152, 152);
}

.theme{
    background-color: rgb(218, 172, 104);
    margin: auto;
    padding: 0%;

}

.landing-size{
    height: auto;
    width: 350;
}
